/* header */
.header {
  position: fixed;
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-box {
  text-align: right;
}

.header-icon {
  color: #4e4e4e;
  float: left;
}

.header-btn {
  display: inline-block;
  padding: 14px 12px;
}

/* main */

/* theme */
.theme {
  padding: 250px 0;
}

.theme-inner {
  text-align: center;
}

.theme-inner__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-inner__sub {
  color: #c0c0c0;
  font-size: 30px;
  padding-top: 20px;
}

/* introduction */
.introduction {
  background-color: #74cfae;
  padding-top: 50px;
}

.introduction-inner{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.introduction-img {
  width: 40%;
}

.intoroduction-text {
  color: #fff;
  width: 60%;
}

.introduction-title {
  font-size: 24px;
  padding-bottom: 35px;
}

.introduction-sub {
  font-size: 20px;
}

/* article */
.article {
  padding: 60px 0 70px 0;
}

.article-inner {
  text-align: center;
}

.article-title {
  font-size: 24px;
  padding-bottom: 40px;
}

.article-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-img li:nth-child(n+4) {
  padding-top: 80px;
}

.article-content {
  margin-top: 90px;
}

.article-content__text {
  color: #c0c0c0;
  display: inline-block;
  width: 42%;
}

.article-content__btn {
  display: inline-block;
  margin-left: 90px;
  padding: 14px 20px;
  vertical-align: top;
}

/* skills */
.skills {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills-title {
  font-size: 24px;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.caption {
  font-size: 16px;
}

/* sns */
.sns {
  padding: 200px 0;
}

.sns-inner {
  display: flex;
  justify-content: center;
}

.sns-inner li a {
  display: inline-block;
  text-align: center;
  padding: 30px 0;
  width: 185px;
}

.sns-inner li a:hover {
  background-color: #fff;
}

.sns-inner li i {
  color: #74cfae;
}

/* footer */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer-text {
  color: #fff;
  text-align: right;
}

/* 共通クラス */
.body {
  background-color: #f2f2f2;
  color: #333;
  width: 1100px;
  font-family: 'Lato';
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.btn:hover {
  opacity: 1; 
}

.main {
  padding-top: 78px;
}

.raleway {
  font-family: 'Raleway';
}

.transition {
  transition: all 0.3s;
}