@charset "utf-8";

/* 共通クラス */
.body {
  background-color: #f2f2f2;
  color: #333;
  font-family: 'Lato';
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.btn:hover {
  color: #333; 
}

.main {
  padding-top: 78px;
}

.raleway {
  font-family: 'Raleway';
}

.transition {
  transition: all 0.3s;
}

div {
  margin: 0 auto;
}

/* header */
.header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-box {
  float: right;
}

.header-icon {
  color: #4e4e4e;
  float: left;
}

.header-btn {
  display: inline-block;
  padding: 14px 12px;
}

/* main */

/* theme */
.theme {
  padding: 250px 0;
}

.theme-inner {
  text-align: center;
}

.theme-inner__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-inner__sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* introduction */
.introduction {
  background-color: #74cfae;
  padding-top: 50px;
}

.introduction-inner{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.introduction-img {
  vertical-align: top;
  width: 40%;
}

.intoroduction-text {
  color: #fff;
  width: 60%;
}

.introduction-title {
  font-size: 24px;
}

.introduction-sub {
  font-size: 20px;
  margin-top: 35px;
}

/* article */
.article {
  margin: 60px 0 70px;
}

.article-inner {
  text-align: center;
}

.article-title {
  font-size: 24px;
}

.article-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
  vertical-align: top;
}

.article-img li a {
  display: block;
  font-size: 0;
  opacity: 0.7;
}

.article-img li a:hover {
  opacity: 1;
}

.article-img li:nth-child(n+4) {
  margin-top: 80px;
}

.article-content {
  margin-top: 90px;
}

.article-content__text {
  display: inline-block;
  width: 42%;
}

.article-content__btn {
  display: inline-block;
  margin-left: 90px;
  padding: 14px 20px;
  vertical-align: top;
}

/* skills */
.skills {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px;
  text-align: center;
}

.skills-title {
  font-size: 24px;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.skills-content img {
  vertical-align: top;
}

.caption {
  font-size: 16px;
}

/* sns */
.sns {
  padding: 200px 0;
}

.sns-inner {
  display: flex;
  justify-content: center;
}

.sns-inner li a {
  display: inline-block;
  text-align: center;
  padding: 30px 0;
  width: 185px;
}

.sns-inner li a:hover {
  background-color: #fff;
}

.sns-inner li i {
  color: #74cfae;
}

/* footer */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.footer-text {
  color: #fff;
  text-align: right;
}


/* メディアクエリ */
/* PC表示 */
@media (min-width: 1120px) {
  .inner {
    width: 1100px;
  }

  .hamburger_menu {
    display: none;
  }
}

/* タブレット */
@media (min-width: 768px) and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .introduction-inner {
    display: block;
    padding: 50px 0 25px;
  }

  .introduction-sub {
    margin: 35px auto 0;
  }

  .intoroduction-text {
    margin-top: 20px;
    padding-top: 0;
  }

  .article-img {
    flex-direction: column;
  }

   .article-img li:nth-child(n+4) {
    margin-top: 0;
  }

  .article-img li:nth-child(4) {
    margin-top: 80px;
  }

  .article-content, .skills-content {
    display: flex;
    flex-direction: column;
  }

  .article-content {
    margin-top: 80px;
  }

  .article-content__text, .article-content__btn {
    margin: 0 auto;
  }

  .article-content__text {
    width: 490px;
  }

  .article-content__btn {
    margin-top: 40px;
  }

  .skills-content li:nth-child(n+2) {
    margin-top: 88px;
  }
}

/* スマホ表示 */
@media (max-width: 767px) {
  .inner {
    width: 97%;
  }

  .header-btn {
    display: none;
  }

  .hamburger_menu {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: 13px;
    padding: 10px;
    width: 25px;
    position: absolute;
    right: 20px;
  }

  .hamburger_menu span {
    border: 2px #c0c0c0;
    border-radius: 3px;
    background-color: #c0c0c0;
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    position: absolute;
  }

  .hamburger_menu span:nth-of-type(2) {
    top: 16px;
  }

  .hamburger_menu span:nth-of-type(3) {
    top: 22px;
  }

  .theme {
    padding: 160px 0 130px;
  }

  .theme-inner__main {
    font-size: 80px;
  }

  .introduction-inner {
    display: block;
    padding: 50px 0 25px;
  }

  .introduction-sub {
    margin: 35px auto 0;
  }

  .intoroduction-text {
    margin-top: 20px;
    padding-top: 0;
  }

  .article-content, .skills-content {
    display: flex;
    flex-direction: column;
  }

  .article-img {
    justify-content: center;
  }

  .article-img li:nth-child(n+4) {
    margin-top: 0;
  }

  .article-img li:nth-child(4) {
    margin-top: 80px;
  }

  .sns {
    padding-top: 50px;
  }

  .sns-inner {
    display: block;
  }

  .sns-inner li a {
    width: 100%;
  }

  .article-content {
    margin-top: 80px;
  }

  .article-content__text, .article-content__btn {
    margin: 0 auto;
  }

 
  .article-content__text {
    margin: 0 auto;
    width: auto;
  }

  .article-content__btn {
    margin-top: 40px;
  }

  .skills-content li:nth-child(n+2) {
    margin-top: 88px;
  }

  .sns-inner li {
    margin: 0 calc(50% - 50vw);
  }
}